
.div-expempl{
display:grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
gap: 10px;
justify-items: center;
}


.slidercard{
    border-radius: 10px 10px 0 0;
    object-fit: fill ;
}
.card{
    width: 16rem; 
    height: 100%;
}
/* .accordion-button{
    background: #38be92d6 !important;
    font-size: larger;
    font-weight: 700;
    font-family: emoji;
    color: #fff;    
} */
.edit{
    display: flex;
    width: 100%;
    font-size: 30px;
    position: relative;
    justify-content: space-between;
    padding: 10px;
}
.iconed{
    margin:0  10px;
    cursor:pointer;
}
.iconed:hover{
    font-size: 32px;
    color: #8f8faa;
}


.accordion-button {
    font-size: 26px;
    font-family: ui-sans-serif;
    color: #57a391;

}
