.slidercard{
    border-radius: 10px 10px 0 0;
    object-fit: fill ;
}
.card{
    width: 16rem; 
    height: 100%;
    margin-right: 30px;
    margin-top: 60px;
}
.accordion-button{
    background: #38be92d6 !important;
    font-size: larger;
    font-weight: 700;
    font-family: emoji;
    color: #fff;
    
}
.edit{
    display: flex;
    width: 100%;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    top: -50px;
    justify-content: space-between;
    
}
.iconed{
    margin-right: 10px;
    cursor:pointer;
}
.iconed:hover{
    font-size: 32px;
    color: #8f8faa;
}


.accordion-button {
    font-size: 26px;
    font-family: ui-sans-serif;
    color: #57a391;

}
