
<div class="container-md d-flex flex-wrap"   > 

    <div *ngFor="let empresa of miExperiencia"  class="card text-center" >
     
      <i class="fa-solid fa-pen-to-square"></i>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3500">
            <img [src]="empresa.img1" class=" w-100 slidercard" height="140rem" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3500">
            <img  [src]="empresa.img2" class=" w-100 slidercard" height="140rem" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3500">
            <img  [src]="empresa.img3" class=" w-100 slidercard" height="140rem"  alt="...">
          </div>
        </div>
      </div> 
      <div class="card-body card">
        

          <ngb-accordion>
            <ngb-panel title="{{empresa.name}}">
                <ng-template ngbPanelContent>
                    <strong>{{empresa.fecha}}</strong> <p>{{empresa.descripcion}}</p>
        
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        
      </div>
    </div>

</div>