
<section>
  <div class="cuadrado" style="--i:0" ></div>
  <div class="cuadrado" style="--i:1"></div>
  <div class="cuadrado" style="--i:2"></div>

<div class="loginBox">
  <div class="loginContainer">
    <div class="loginForm">
      <h2>Iniciar Sesión</h2>
     <form action="">
    <div class="inputBox">
      <input type="text" name="" id="" placeholder="Usuario">
      
    </div>
    <div class="inputBox">
      <input type="Password" name="" id="" placeholder="Contraseña">

    </div>
    <div class="inputBox">
      <input type="submit" value="Ingresar">
    </div>
    <p class="olvidoPass">¿Olvido su contraseña?
      <a href="#">Click aquí</a></p>
    
    <p class="registro">¿No tiene una cuenta?
      <a href="#">Regístrate</a></p>
     </form>
    </div>
  </div>
</div>



</section>