
.card{
    border:5px;
}


.card-title{
    background: #b5e89a;
    font-size: 35px;
}
.card-text{
    font-size: 25px;
    font-family: monospace;
}
.card-body{
 
    border: 3px solid #000;
    border-radius: inherit;
    padding: 0;
}
.iconedit{
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    
}
.iconedit > .ied{
    padding-left: 30px;
    padding-bottom: 5px;
    cursor:pointer;
    
}
.ied:hover{
    font-size: 30px;
    color: #8f8faa;
}